apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: trivy-cache-pvc
  labels:
    app: eightbitsaxlounge
    component: db
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn
