---
- name: Download Helm installation script
  ansible.builtin.get_url:
    url: "https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-4"
    dest: "/tmp/get-helm-4.sh"
    mode: '0755'

- name: Install Helm using official script
  ansible.builtin.shell:
    cmd: /tmp/get-helm-4.sh --version {{ helm_version }} {{ '--no-sudo' if not helm_install_become else '' }}
  environment:
    HELM_INSTALL_DIR: "{{ helm_install_dir }}"
    USE_SUDO: "{{ 'true' if helm_install_become else 'false' }}"

- name: Clean up installation script
  ansible.builtin.file:
    path: "/tmp/get-helm-4.sh"
    state: absent