[master]
{% for host in hosts_1972 if 'master' in host.name %}
{{ host.ip.eth0 }}
{% endfor %}

[worker]
{% for host in hosts_1972 if 'worker' in host.name %}
{{ host.ip.eth0 }}
{% endfor %}

[midi]
midi-host ansible_host={{ midi_host.ip }} ansible_user={{ midi_host.user }} ansible_connection=ssh ansible_shell_type=powershell ansible_ssh_private_key_file=~/.ssh/pi-to-midi-host