apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: couchdb-ingress
  labels:
    app: eightbitsaxlounge
    component: db
spec:
  ingressClassName: nginx
  rules:
  - host: {{ db_ingress_host }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: db-service
            port:
              number: 5984
