apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: couchdb-data
  labels:
    app: eightbitsaxlounge
    component: db
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 10Gi
