apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: overlay-ingress
  labels:
    app: eightbitsaxlounge
    component: overlay
spec:
  ingressClassName: nginx
  rules:
  - host: {{ overlay_ingress_host }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: eightbitsaxlounge-overlay
            port:
              number: 80
