name: Server Update

on:
  workflow_dispatch:
    inputs:
      update_ubuntu:
        description: 'Update Ubuntu packages and release'
        required: false
        type: boolean

jobs:
  update-ubuntu:
    name: Update Ubuntu Version
    runs-on: self-hosted
    if: ${{ github.event.inputs.update_ubuntu == 'true' }}
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Update Ubuntu
      working-directory: ./server
      env:
        update_ubuntu: ${{ github.event.inputs.update_ubuntu }}
        SUDO_PASSWORD: ${{ secrets.ANSIBLE_SUDO_PASSWORD }}
      run: make update-ubuntu
