name: Server Update

on:
  workflow_dispatch:
    inputs:
      update_ubuntu:
        description: 'Update Ubuntu packages and release'
        required: false
        type: boolean

      kubernetes_version:
        description: 'Update Kubernetes version (e.g. 1.3x)'
        required: false
        type: string

jobs:
  update-ubuntu:
    name: Update Ubuntu Version
    runs-on: self-hosted
    if: ${{ github.event.inputs.update_ubuntu == 'true' }}
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Update Ubuntu
      working-directory: ./server
      env:
        update_ubuntu: ${{ github.event.inputs.update_ubuntu }}
        SUDO_PASSWORD: ${{ secrets.ANSIBLE_SUDO_PASSWORD }}
      run: make update-ubuntu
  
  update-kubernetes:
    name: Update Kubernetes Version
    runs-on: self-hosted
    if: ${{ github.event.inputs.kubernetes_version != '' }}
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Update Kubernetes
      working-directory: ./server
      env:
        KUBERNETES_VERSION: ${{ github.event.inputs.kubernetes_version }}
        SUDO_PASSWORD: ${{ secrets.ANSIBLE_SUDO_PASSWORD }}
      run: make update-kubernetes
