name: Server Update

on:
  workflow_dispatch:
    inputs:
      init_console:
        description: "Run console initialization steps"
        required: false
        default: 'false'

jobs:
  shutdown:
    name: Shutdown Kubernetes Cluster
    runs-on: self-hosted
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Init console config
      if: ${{ github.event.inputs.init_console == 'true' }}
      working-directory: ./server
      env:
        SUDO_PASSWORD: ${{ secrets.ANSIBLE_SUDO_PASSWORD }}
      run: make init-console-config
