name: UI Release

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - ui/*
    paths:
      - 'ui/version.txt'

jobs:
  release:
    name: Release UI Component
    permissions:
      packages: write
      security-events: write
    uses: ./.github/workflows/release-template.yaml
    with:
      component: 'ui'
      test-target: 'test'
      build-target: 'build'
      deploy-target: 'deploy'
      requires-docker-login: true
    secrets:
      component-secrets: |
        {
          "TWITCH_CLIENT_ID": "${{ secrets.TWITCH_CLIENT_ID }}",
          "TWITCH_CLIENT_SECRET": "${{ secrets.TWITCH_CLIENT_SECRET }}",
          "TWITCH_ACCESS_TOKEN": "${{ secrets.TWITCH_ACCESS_TOKEN }}",
          "TWITCH_REFRESH_TOKEN": "${{ secrets.TWITCH_REFRESH_TOKEN }}",
          "MIDI_CLIENT_ID": "${{ secrets.MIDI_CLIENT_ID }}",
          "MIDI_CLIENT_SECRET": "${{ secrets.MIDI_CLIENT_SECRET }}"
        }